
<div class="row">
    <div class="col-md-4 col-md-offset-1 col-sm-6 col-centered">


        <br>
        <br>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        {{#if message}}
            <div class="alert alert-primary">
                {{message}}
            </div>
        {{/if}}
        <div class="tile tile-login">
            <h3 class="text-center" style="color: white">Add My Bank</h3>
            <br>
            <form action="{{homeUrl}}/mybanks" method="post">
                <div class="form-group">
                    <div class="input-icon">
                        <span class="fa-bank fa"></span>
                        <select name="bank" id="" class="">
                            <option value="">Select Your Bank</option>
                            {{#each bank}}
                                <option value="{{id}}">{{bankname}}</option>
                            {{/each}}
                        </select>
                    </div>
                </div>

                <div class="input-icon">
                    <span class="fa-money fa"></span>
                    <input type="text" class="form-control" name="balance" placeholder="Current Balance">
                </div>

                <br>
                <a href="javascript:void(0)" class="login-button btn btn-block btn-primary btn-embossed">ADD BANK</a>
            </form>
        </div>
    </div>
    <div class="col-md-8">
        {{#if myBank}}
            <h3 class="text-center">My Banks</h3>
            <table class="table table-bordered text-center">
                <thead>
                <tr>
                    <th class="text-center">Bank Name</th>
                    <th class="text-center">Current Balance (৳)</th>
                    <th class="text-center">Deposit</th>
                    <th class="text-center">Withdraw</th>
                    <th class="text-center">Delete</th>
                </tr>
                </thead>
                <tbody>
                {{#each myBank}}
                    <tr>
                        <td>{{bankname}}</td>
                        <td>{{currentbalance}}</td>
                        <td><a href="#" onclick="$('#deposit{{bid}}').modal('show')"  class="btn btn-embossed btn-success btn-sm depo">Deposit</a></td>
                        <td><a href="#" onclick="$('#withdraw{{bid}}').modal('show')" class="btn btn-embossed btn-purple btn-sm withdr">Withdraw</a></td>
                        <td><a data-href="{{homeUrl}}/mybanks/delete/{{bid}}" data-toggle="modal" data-target="#confirm-delete" class="btn btn-embossed btn-danger btn-sm">Delete</a></td>
                    </tr>
                    <div id="withdraw{{bid}}" class="modal fade">
                        <div class="modal-dialog">
                            <form action="/user/process/withdraw" method="post">
                                <input type="hidden" name="bid" value="{{bid}}">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                        <h4 class="modal-title">Withdraw Money from {{bankname}} </h4>
                                    </div>
                                    <div class="modal-body">
                                        <div class="input-icon">
                                            <span class="fa-money fa"></span>
                                            <input type="number" class="form-control" name="amount" placeholder="Amount">
                                        </div>
                                        <br>

                                        <div class="input-icon">
                                            <span class="fa-book fa"></span>
                                            <input type="text" class="form-control" name="desc" placeholder="Description">
                                        </div>

                                        <br>

                                        <div class="input-icon">
                                            <span class="fa-calendar fa"></span>
                                            <input type="date" class="form-control" name="date" placeholder="Date">
                                        </div>
                                        <br>
                                        <label >
                                            <input type="checkbox" name="wall" value="1" data-toggle="checkbox" checked=""/>
                                            Add this amout to your wallet?
                                        </label>

                                    </div>

                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                        <input type="submit" value="Complete" class="btn btn-primary">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>


                    <div id="deposit{{bid}}" class="modal fade">
                        <div class="modal-dialog">
                            <form action="/user/process/deposit" method="post">
                                <input type="hidden" name="bid" value="{{bid}}">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                        <h4 class="modal-title">Deposit Money To {{bankname}} </h4>
                                    </div>
                                    <div class="modal-body">
                                        <div class="input-icon">
                                            <span class="fa-money fa"></span>
                                            <input type="number" class="form-control" name="amount" placeholder="Amount">
                                        </div>
                                        <br>
                                        <div class="input-icon">
                                            <span class="fa-book fa"></span>
                                            <input type="text" class="form-control" name="desc" placeholder="Description">
                                        </div>
                                        <br>
                                        <div class="input-icon">
                                            <span class="fa-calendar fa"></span>
                                            <input type="date" class="form-control" name="date" placeholder="Date">
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                        <input type="submit" value="Complete" class="btn btn-primary">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                {{/each}}
                </tbody>
            </table>
        {{else}}
            <h3 class="text-center">Your banks will be shown here.</h3>
        {{/if}}
    </div>
</div>

<div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4>Confirm</h4>
            </div>
            <div class="modal-body">
                <p>Are you sure to delete this record?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <a class="btn btn-danger btn-ok">Delete</a>
            </div>
        </div>
    </div>
</div>




<script>
    $(document).ready(function(){
        $(document).on("click",".login-button",function(){
            var form = $(this).closest("form");
            //console.log(form);
            form.submit();
        });
        $('#confirm-delete').on('show.bs.modal', function(e) {
            $(this).find('.btn-ok').attr('href', $(e.relatedTarget).data('href'));
        });
    });
</script>
